@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.skills__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(50, 50, 50, 0.9);
  margin: 0rem 3rem;
  line-height: 2;
  z-index: 51;

  @include medium {
    margin: 0rem 7rem;
  }
  @include large {
  }
}

.skills__title {
  color: white;
  font-size: 2rem;
  font-weight: 700;

  @include medium {
    font-size: 3rem;
    font-weight: 700;
  }
  @include large {
    font-size: 4rem;
    font-weight: 700;
  }
}

.skills__icon-container {
  width: 18rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  justify-items: center;
  position: relative;

  @include medium {
    width: 39rem;
  }
  @include large {
    width: 54rem;
  }
}

.skills__icons {
  margin: 0.5rem;
  width: 5rem;
  height: 5rem;
  @include medium {
    width: 7rem;
    height: 7rem;
  }
  @include large {
    width: 10rem;
    height: 10rem;
  }
}
