// breakpoints
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

// colours
$black: #323232;
$darkblack: #000000;
$sliver: #afafaf;
$mercury: #e1e1e1;
$white: #ffffff;
$alabaster: #fafafa;
$purple: #1f1f38;
$light-purple: #2c2cbc;
$light-blue: #4db5ff;
$greeny: rgba (77, 181, 255, 0.4);

//font weight
$regular: 400;
$demi: 600;
$bold: 700;
