// breakpoints
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

// colours
$black: #323232;
$darkblack: #000000;
$sliver: #afafaf;
$mercury: #e1e1e1;
$white: #ffffff;
$alabaster: #fafafa;

//font weight
$regular: 400;
$demi: 600;
$bold: 700;
