@import "../../styles/partials/mixin";
@import "../../styles/partials/breakpoints";

.project {
  height: auto;
  width: 100vw;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include medium {
  }
  @include large {
  }
}

.project-section {
  border: 2px solid red;

  @include medium {
    width: 90%;
  }
  @include large {
    width: 80%;
  }
}

.project__container {
  height: 100%;
  width: 100%;
  align-items: center;
  color: white;
  border-radius: 0.4rem;
  opacity: 0.9;
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project-title {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  border-radius: 0.4rem;
  @include flexCenter;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.project {
  &__containers {
    @include medium {
      @include flexCenter;
      flex-direction: row;
      margin: 0.5rem 1rem;
    }
  }
}

.container-card__image {
  height: 100%;
  width: 30vw;
  @include flexCenter;
  height: 30vh;
  width: 25vh;
  // max-height: 30vh;
  // max-width: 25vh;
  @include medium {
    height: 25vh;
    width: 20vh;
  }
}
#container-card {
  background-color: #1f1f38;
  border: 2px solid red;
  border-radius: 0.4rem;
  margin: 0.8rem 0.2rem;
  padding: 1rem;
  @include flexCenter;
  flex-direction: column;
  @include medium {
    min-width: 20%;
    max-width: 43%;
    margin: 0.8rem 1rem;
  }
}

.container-card__title {
  font-size: 1.5rem;
  font-weight: 800;
}

.container-card__description {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  padding: 0rem 1rem;
  @include medium {
    font-size: 1rem;
    padding: 0rem 2rem;
  }
  @include large {
    padding: 0rem 4rem;
  }
}

.container-card__link {
  min-height: 5vh;
  max-height: 6vh;
  width: 60%;
  margin: 0.8rem;
  border: 1px solid white;
  background-color: transparent;
  backdrop-filter: blur(25px);
  border-radius: 0.4rem;
}

a {
  color: white;
}
